MODEL=openai/gpt-4.1-mini
APP_NAME=Agent2Agent
OPENAI_API_KEY=sk-proj-jl2HxbXOp--GqpsGhXKcymCWADP_MJKbbI634ZmtbmAEtzmM36XZf-Rmgk0kGI6b3Ut91TTR4WT3BlbkFJSmRaUhj9FMIvWEDtKNftHs-uR1hyq_O44kzPYNbHDDH6EMslr0OnVYobqhO_srJvCny_yNDOEA_ra99
POSTGRES_DB=agentdb